@font-face {
    font-family: 'ABC Favorit Extended';
    src: url('../fonts/ABCFavoritExtended-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Favorit Extended Book';
    src: url('../fonts/ABCFavoritExtended-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Favorit Extended';
    src: url('../fonts/ABCFavoritExtended-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Favorit Extended';
    src: url('../fonts/ABCFavoritExtended-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Favorit Extended';
    src: url('../fonts/ABCFavoritExtended-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

