<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{serverData.data.title}}</title>
	{% include "templates/head.njk" %}
</head>
<body>

	<!-- Header -->
	{% include "templates/header.njk" %}

	<!-- Banner -->
	{% include "parts/banner.njk" %}

	
	{% include "templates/svg-icons.njk" %}

	{% include "templates/custom-scripts.njk" %}
</body>
</html>
